body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
#form{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  width: 400px;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#btn{
  text-align: center;
  color: green;

}

input{
  width: 150px;
}