#projects {
    background-color: white;
    color: black;
    padding: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px; /* Add some margin between projects */
    max-width: 80%; /* Limit the width of each project */
    width: 100%; /* Ensure projects take full width */
}

.image {
    width: 100%; /* Make images take full width of their container */
    height: auto; /* Maintain aspect ratio */
}

.project h2,p,a {
    display: flex;
    justify-content: center;
}
.project a {
    text-decoration: none;
}