.header{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 70, 243);
    height: 100px;
    gap: 60px;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.header h3:hover{
    cursor: pointer;
    color: red;
    transition: 0.3s;
    font-size: 25px;
}
